# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


/Source/Broadcaster/bin/Debug
/Source/Broadcaster/obj/Debug
/Source/Components/SOS.AzureSQLAccessLayer/bin/Debug
/Source/Components/SOS.AzureSQLAccessLayer/obj/Debug
/Source/Components/SOS.AzureSQLAccessLayer.UnitTests/bin/Debug
/Source/Components/SOS.AzureSQLAccessLayer.UnitTests/obj/Debug
/Source/Components/SOS.AzureStorageAccessLayer/bin/Debug
/Source/Components/SOS.AzureStorageAccessLayer.UnitTests/bin/Debug
/Source/Components/SOS.AzureStorageAccessLayer/obj/Debug
/Source/Components/SOS.Exceptions/obj/Debug
/Source/Components/SOS.Exceptions/bin/Debug
/Source/Components/SOS.EventHubReceiver/obj/Debug
/Source/Components/SOS.EventHubReceiver/bin/Debug
/Source/Components/SOS.ConfigManager/obj/Debug
/Source/Components/SOS.ConfigManager/bin/Debug
/Source/Components/SOS.AzureStorageAccessLayer.UnitTests/obj/Debug
/Source/Components/SOS.ThreadedWorkerRole/obj/Debug
/Source/Components/SOS.ThreadedWorkerRole/bin/Debug
/Source/Components/SOS.Model/obj/Debug
/Source/Components/SOS.Model/bin/Debug
/Source/Components/SOS.Mappers/obj/Debug
/Source/Components/SOS.Mappers/bin/Debug
/Source/Portal/obj/Debug
/Source/Phone/WP8.0/obj/Debug
/Source/Phone/WP8.0/Bin/Debug
/Source/Hosts/SOS.AzureWorkerRoleHost/obj/Debug
/Source/Hosts/SOS.AzureWorkerRoleHost/bin/Debug
/Source/Database/SOS.GuardianDatabase/obj/Debug
/Source/Database/SOS.GuardianDatabase/bin/Debug
/Source/Portal/bin
/Source/Services/SOS.Service.Implementation/bin/Debug
/Source/Services/SOS.Service.Implementation/obj/Debug
/Source/Services/SOS.Service.Utility/obj/Debug
/Source/Services/SOS.Service.Utility/bin/Debug
/Source/Services/SOS.Service.Security/obj/Debug
/Source/Services/SOS.Service.Security/bin/Debug
/Source/Services/SOS.Service.Interfaces/obj/Debug
/Source/Services/SOS.Service.Interfaces/bin/Debug
/Source/Services/SOS.Service.WcfRest/obj/Debug
/Source/Services/SOS.Service.WcfRest/bin
/Source/TestSuite/SOS.LoadTests/obj/Debug
/Source/TestSuite/SOS.LoadTests/bin/Debug
/Source/TestSuite/SOS.Service.Implementation.Tests/bin/Debug
/Source/TestSuite/SOS.Service.Implementation.Tests/obj/Debug
/Source/Tools/OPsTools/bin/Debug
/Source/TestSuite/SOS.Test.WorkRoleClient/obj/Debug
/Source/TestSuite/SOS.Test.WorkRoleClient/bin/Debug
/Source/TestSuite/SOS.Test.ServiceClient/obj/Debug
/Source/TestSuite/SOS.Test.ServiceClient/bin/Debug
/Source/Tools/OPsTools/obj/Debug
