<MarketplaceDetails>
  <SmallAppTile>300x300.png</SmallAppTile>
  <ScreenShots>480x800 (1).png;480x800 (2).png;480x800 (3).png;;;;;;</ScreenShots>
  <ScreenShotsWXGA>768x1280 (1).png;768x1280 (2).png;768x1280 (3).png;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>720 (1).png;720 (2).png;720 (3).png;;;;;;</ScreenShots720P>
</MarketplaceDetails>