<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
    <section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    
    <add key="QueueConnection" value="DefaultEndpointsProtocol=https;AccountName=guardianstoragedev;AccountKey=/TOREPLACE-KEY/" />
    <add key="TableConnection" value="DefaultEndpointsProtocol=https;AccountName=guardianstoragedev;AccountKey=/TOREPLACE-KEY/" />
    <add key="BlobConnection" value="DefaultEndpointsProtocol=https;AccountName=guardianstoragedev;AccountKey=/TOREPLACE-KEY/" />
    <add key="AzureSQLConnectionString" value="Server=tcp:n6axhlg9lz.database.windows.net,1433;Database=Guardian;User ID=guardian@n6axhlg9lz;Password=/TOREPLACE-PASSWORD/;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="EventHubConnectionString" value="Endpoint=sb://ehdevelopment.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=/TOREPLACE-EVENTHUBKEY/" />
    <add key="EventHubName" value="LiveLocations" />
    <add key="SMSDefaultFromnumber" value="GUARDN" />
    <add key="GuardianPortalUri" value="https://guardianportal-dev.cloudapp.net" />
    <add key="V1GuardianPortalUri" value="https://guardian.cloudapp.net" />
    <add key="TinyServiceUri" value="http://tinyurl.com/api-create.php" />   
    <add key="SMSPostGap" value="15" />
    <add key="FacebookPostGap" value="15" />
    <add key="EmailPostGap" value="15" />
    <add key="SendSms" value="False" />
    <add key="UseEventHubs" value="True" />
    <add key="SubGroupAllocationIntervalInMinutes" value="5" />
    <add key="BroadcastRunIntervalInSeconds" value="60" />
    <add key="ArchiveTimeGapInMinutes" value="240" />
    <add key="ArchiveRunIntervalInMinutes" value="10" />
    <add key="SMSServiceUserID" value="microsofthtp" />
    <add key="SMSServicePassword" value="/TOREPLACE-SMSPASSWORD/" />
    <add key="IntlSMSServiceUserID" value="microsofthtp" />
    <add key="IntlSMSServicePassword" value="/TOREPLACE-SMSPASSWORD/" />
    <add key="sendGridUserID" value="/TOREPLACE-EMAILUSERNAME/" />
    <add key="sendGridPassword" value="/TOREPLACE-PASSWORD/" />   
    <add key="BingKey" value="/TOREPLACE-BINGKEY/" />        
    <add key="ClientSecret" value="/TOREPLACE-LIVECLIENTSECRET/,/TOREPLACE-LIVECLIENTSECRET/" />
    <add key="LiveAppUri" value="guardianportal-dev.cloudapp.net" />
    <add key="RandomNumberDigits" value="5" />    
    <add key="IncludeActiveMembers" value="true" />
    <add key="DefaultGroupID" value="1" />
    <add key="AppInsightsKey" value="/TOREPLACE-EMPTYORAIKEY/" />
    <add key="AppInsightsTag" value="Dev" />
    <add key="IsEnterpriseBuild" value="False" />
    <add key="HasDataMigrated" value="True" />
    <add key="EnterpriseDomain" value="@microsoft.com" />    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None"></authentication>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule, Microsoft.ApplicationInsights.Extensibility.Web" />
    </httpModules>
  <!-- Windows Azure Cache session state provider --><!--<sessionState mode="Custom" customProvider="AFCacheSessionStateProvider">
      <providers>
        <add name="AFCacheSessionStateProvider" type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheSessionState"/>
      </providers>
    </sessionState>--><!-- Windows Azure Cache output cache provider --><!--Uncomment this section to use Windows Azure Cache for output cache--><!--<caching>
      <outputCache defaultProvider="AFCacheOutputCacheProvider">
        <providers>
          <add name="AFCacheOutputCacheProvider" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheOutputCache" />
        </providers>
      </outputCache>
    </caching>-->
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SOS.Service.Implementation.GroupService" behaviorConfiguration="webresetservice">
        <endpoint binding="webHttpBinding" bindingConfiguration="nosecure" contract="SOS.Service.Interfaces.IGroupService" behaviorConfiguration="webrest"></endpoint>
      </service>
      <service name="SOS.Service.Implementation.LocationService" behaviorConfiguration="webresetservice">
        <endpoint binding="webHttpBinding" bindingConfiguration="nosecure" contract="SOS.Service.Interfaces.ILocationService" behaviorConfiguration="webrest"></endpoint>
      </service>
      <service name="SOS.Service.Implementation.GeoUpdate" behaviorConfiguration="webresetservice">
        <endpoint binding="webHttpBinding" bindingConfiguration="nosecure" contract="SOS.Service.Interfaces.IGeoUpdates" behaviorConfiguration="webrest"></endpoint>
      </service>
      <service name="SOS.Service.Implementation.MemberService" behaviorConfiguration="webresetservice">
        <endpoint binding="webHttpBinding" bindingConfiguration="nosecure" contract="SOS.Service.Interfaces.IMembership" behaviorConfiguration="webrest"></endpoint>
      </service>
      <service name="SOS.Service.Implementation.MediaService" behaviorConfiguration="webresetservice">
        <endpoint binding="webHttpBinding" bindingConfiguration="nosecure" contract="SOS.Service.Interfaces.IMediaService" behaviorConfiguration="webrest"></endpoint>
      </service>
      <service name="SOS.Service.Implementation.HistoryService" behaviorConfiguration="webresetservice">
        <endpoint binding="webHttpBinding" bindingConfiguration="nosecure" contract="SOS.Service.Interfaces.IHistoryService" behaviorConfiguration="webrest"></endpoint>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="nosecure" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport"></security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webrest">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="webresetservice">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="3000" maxConcurrentSessions="3000" maxConcurrentInstances="10000" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="3000" maxConcurrentSessions="3000" maxConcurrentInstances="10000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="CustomBasicAuthenticationModule" type="SOS.RESTService.CustomBasicAuthenticationModule" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule, Microsoft.ApplicationInsights.Extensibility.Web" preCondition="managedHandler" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <dataCacheClients>
    <dataCacheClient name="default">


      
      
      <!--To use the in-role flavor of Windows Azure Cache, set identifier to be the cache cluster role name --><!--To use the Windows Azure Cache Service, set identifier to be the endpoint of the cache cluster --><autoDiscover isEnabled="true" identifier="guardiancache.cache.windows.net  " />



      
      
      
    <!--<localCache isEnabled="true" sync="TimeoutBased" objectCount="100000" ttlValue="300" />--><!--Use this section to specify security settings for connecting to your cache. This section is not required if your cache is hosted on a role that is a part of your cloud service. --><!--<securityProperties mode="Message" sslEnabled="true">
        <messageSecurity authorizationInfo="[Authentication Key]" />
      </securityProperties>--></dataCacheClient>
  </dataCacheClients>
</configuration>