<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="BaseStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=guardianstorage;AccountKey=/TOREPLACE-KEY/" />
    <add key="DestStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=guardianstoragetest;AccountKey=/TOREPLACE-KEY/" />
    <add key="AzureSQLConnectionString" value="Server=tcp:nb2d0z2rf0.database.windows.net,1433;Database=guardiansqldatabase;User ID=guardian@nb2d0z2rf0;Password=/TOREPLACE-PASSWORD/;Trusted_Connection=False;Encrypt=True;Connection Timeout=300;" />
    

    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="QueueConnection" value="DefaultEndpointsProtocol=https;AccountName=guardianstoragetest;AccountKey=/TOREPLACE-KEY/" />
    <add key="TableConnection" value="DefaultEndpointsProtocol=https;AccountName=guardianstoragetest;AccountKey=/TOREPLACE-KEY/" />
    <add key="SMSDefaultFromnumber" value="GUARDN" />
    <add key="GuardianPortalUri" value="https://guardianportal-dev.cloudapp.net" />
    <add key="V1GuardianPortalUri" value="https://guardian.cloudapp.net" />
    <add key="TinyServiceUri" value="http://tinyurl.com/api-create.php" />    
    <add key="SMSPostGap" value="15" />
    <add key="FacebookPostGap" value="15" />
    <add key="EmailPostGap" value="15" />
    <add key="SendSms" value="False" />
    <add key="SubGroupAllocationIntervalInMinutes" value="5" />
    <add key="BroadcastRunIntervalInSeconds" value="60" />
    <add key="ArchiveTimeGapInMinutes" value="240" />
    <add key="ArchiveRunIntervalInMinutes" value="10" />
    <add key="SMSServiceUserID" value="microsofthtp" />
    <add key="SMSServicePassword" value="/TOREPLACE-SMSPASSWORD/" />
    <add key="IntlSMSServiceUserID" value="microsofthtp" />
    <add key="IntlSMSServicePassword" value="/TOREPLACE-SMSPASSWORD/" />
    <add key="sendGridUserID" value="/TOREPLACE-EMAILUSERNAME/" />
    <add key="sendGridPassword" value="/TOREPLACE-PASSWORD/" />
    <add key="BingKey" value="/TOREPLACE-BINGKEY/" />       
    <add key="ClientSecret" value="/TOREPLACE-LIVECLIENTSECRET/,/TOREPLACE-LIVECLIENTSECRET/" />
    <add key="LiveAppUri" value="guardianportal-dev.cloudapp.net" />
    <add key="RandomNumberDigits" value="5" />    
    <add key="IncludeActiveMembers" value="true" />
    <add key="DefaultGroupID" value="1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>