<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    
    <add key="QueueConnection" value="DefaultEndpointsProtocol=https;AccountName=guardianstoragedev;AccountKey=/TOREPLACE-KEY/" />
    <add key="TableConnection" value="DefaultEndpointsProtocol=https;AccountName=guardianstoragedev;AccountKey=/TOREPLACE-KEY/" />
    <add key="BlobConnection" value="DefaultEndpointsProtocol=https;AccountName=guardianstoragedev;AccountKey=/TOREPLACE-KEY/" />
    <add key="AzureSQLConnectionString" value="Server=tcp:n6axhlg9lz.database.windows.net,1433;Database=Guardian;User ID=guardian@n6axhlg9lz;Password=/TOREPLACE-PASSWORD/;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="SMSDefaultFromnumber" value="GUARDN" />
    <add key="GuardianPortalUri" value="https://guardianportal-dev.cloudapp.net" />
    <add key="V1GuardianPortalUri" value="https://guardian.cloudapp.net" />
    <add key="TinyServiceUri" value="http://tinyurl.com/api-create.php" />    
    <add key="SMSPostGap" value="15" />
    <add key="FacebookPostGap" value="15" />
    <add key="EmailPostGap" value="15" />
    <add key="SendSms" value="False" />
    <add key="UseEventHubs" value="True" />
    <add key="SubGroupAllocationIntervalInMinutes" value="5" />
    <add key="BroadcastRunIntervalInSeconds" value="60" />
    <add key="ArchiveTimeGapInMinutes" value="240" />
    <add key="ArchiveRunIntervalInMinutes" value="10" />
    <add key="SMSServiceUserID" value="microsofthtp" />
    <add key="SMSServicePassword" value="/TOREPLACE-SMSPASSWORD/" />
    <add key="sendGridUserID" value="/TOREPLACE-EMAILUSERNAME/" />
    <add key="sendGridPassword" value="/TOREPLACE-PASSWORD/" />
    <add key="IntlSMSServiceUserID" value="microsofthtp" />
    <add key="IntlSMSServicePassword" value="/TOREPLACE-SMSPASSWORD/" />
    <add key="BingKey" value="/TOREPLACE-BINGKEY/" />       
    <add key="ClientSecret" value="/TOREPLACE-LIVECLIENTSECRET/,/TOREPLACE-LIVECLIENTSECRET/" />
    <add key="LiveAppUri" value="guardianportal-dev.cloudapp.net" />
    <add key="RandomNumberDigits" value="5" />   
    <add key="IsEnterpriseBuild" value="False" />
    <add key="HasDataMigrated" value="True" />
    <add key="EnterpriseDomain" value="@microsoft.com" />    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics.StorageUtility" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>