<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="KeyVault_AuthClientId" value="TOREPLACE" />
    <add key="KeyVault_AuthCertificateThumbprint" value="TOREPLACE" />
    <add key="KeyVault_AuthCertificateStoreLocation" value="CurrentUser" />

    <add key="AzureStorageConnectionString" value="TOREPLACE-CONNECTIONSTRING" />
    <add key="AzureSQLConnectionString" value="Server=tcp:n6axhlg9lz.database.windows.net,1433;Database=Guardian;User ID=guardian@n6axhlg9lz;Password=/TOREPLACE-PASSWORD/;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />

    <add key="UseEventHubs" value="False" />
    <add key="EventHubName" value="LiveLocations" />
    <add key="EventHubConnectionString" value="Endpoint=sb://ehdevelopment.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=/TOREPLACE-EVENTHUBKEY/" />
    
    <add key="GuardianPortalUri" value="https://guardianportal-dev.cloudapp.net" />
    <add key="TinyServiceUri" value="http://tinyurl.com/api-create.php" />

    <add key="SMSPostGap" value="15" />
    <add key="EmailPostGap" value="15" />

    <add key="BroadcastRunIntervalInSeconds" value="60" />
    <add key="ArchiveTimeGapInMinutes" value="240" />
    <add key="ArchiveRunIntervalInMinutes" value="10" />
    <add key="SubGroupAllocationIntervalInMinutes" value="5" />
    <add key="TimeToResetCacheInMinutes" value="240" />
    
    <add key="SendSms" value="False" />
    <add key="RandomNumberDigits" value="5" />
    <add key="SMSDefaultFromnumber" value="GUARDN" />
    <add key="SMSServiceUserID" value="microsofthtp" />
    <add key="SMSServicePassword" value="/TOREPLACE-SMSPASSWORD/" />
    <add key="IntlSMSServiceUserID" value="microsofthtp" />
    <add key="IntlSMSServicePassword" value="/TOREPLACE-SMSPASSWORD/" />

    <add key="SendGridUserID" value="/TOREPLACE-EMAILUSERNAME/" />
    <add key="SendGridPassword" value="/TOREPLACE-PASSWORD/" />

    <add key="BingKey" value="/TOREPLACE-BINGKEY/" />
    <add key="LiveAuthClientSecret" value="/TOREPLACE-LIVECLIENTSECRET/,/TOREPLACE-LIVECLIENTSECRET/" />
    <add key="LiveAuthAppUri" value="guardianportal-dev.cloudapp.net" />
    <add key="GoogleClientID" value="/TOREPLACE-GOOGLECLIENTID/.apps.googleusercontent.com" />
    
    <add key="IncludeActiveMembers" value="true" />
    <add key="DefaultGroupID" value="1" />

    <add key="IsEnterpriseBuild" value="False" />
    <add key="EnterpriseDomain" value="@microsoft.com" />

    <add key="AppInsights_InstrumentationKey" value="TODO:TOREPLACE" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.4.0.0" newVersion="8.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
